/* Estilos específicos para el modal */
.view-details-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .view-details-modal {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
  }
  
  .modal-title {
    color: #333;
  }
  
  /* Estilos para el contenido de detalles */
  .details-content {
    margin-top: 20px;
  }
  
  .detail-label {
    font-weight: bold;
    margin-right: 5px;
  }
  